.DS_Store
*.pyc
dist
_templates
_static
_build
build
.project
.pydevproject
ga_optimization_ternary/fitness_evaluators.pyc
ga_optimization_ternary/database.pyc
data/*
*/*.png
*/*.eps
ga_optimization_ternary/fitness_evaluators.pyc
